.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  :not(:last-child) {
    border-bottom: 0px solid #eee;
  }
}

.chamado {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  border-bottom: 1px solid #eee;
}
