.header {
  background-color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -250px;
}

.icon {
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: none;
}

.image {
  margin: 0 20px;
  cursor: pointer;
}
