.header {
  background-color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -250px;
}

.link {
  margin: 0 50px;
  color: #555566;
  font-weight: 600;
  font-size: 20px;
}

.image {
  margin: 0 50px;
}
