.header {
  background-color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
}

.header a {
  text-decoration: none;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  margin-left: 20px;
  color: black;
}
