$dark-blue: #415a80;
$light-blue: #a5d4dc;
$main-white: #e5e7e9;
$secondary-white: #d7e2e9;

.header {
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -250px;
}

.icon {
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: none;
}

.image {
  margin: 0 20px;
  cursor: pointer;
}
