.link {
  margin: 0 50px;
  color: #555566;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  margin-top: 50px;
}
.nav {
  position: fixed; /* fixed */
  z-index: 10; /* z-10 */
  width: 0; /* w-0 */
  background-color: #fff; /* bg-background-dark */
  padding: 50px; /* p-0 */

  transition: all 0.3s; /* transition-all duration-300 */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  overflow: hidden; /* overflow-hidden */
  visibility: visible; /* visible */
  opacity: 1; /* opacity-100 */
  border: 1px solid #ddd;
}

@media (min-width: 768px) {
  .nav {
    width: 400px; /* md:w-[377px] */
    position: relative; /* md:relative */
    padding: 30px; /* p-4 */
  }
}
