* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: white;
  background-image: radial-gradient(
      at 17% 23%,
      hsl(206, 58%, 75%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 85%, hsl(167, 55%, 70%) 0, transparent 55%);
}
