.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
}
.container {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: calc(100vh - 104px);
  box-sizing: border-box;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.button {
  font-size: 1.25rem;
  padding: 20px 40px;
  background-color: transparent;
  border-radius: 30px;
  border: solid 1px gray;
  color: rgb(75, 75, 75);
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}

.button:hover {
  color: black;
  border-color: black;
}

.features {
  margin-top: 40px;
  text-align: center;
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.featureList {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.featureItem {
  width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #f5f5f5;
  font-size: 12px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
