.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
}
.container {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
  padding-top: 50px;
  height: 100%;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.hero {
  text-align: center;
}

.hero h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-right: 20px;

  font-weight: 900;

  background: -webkit-linear-gradient(
    120deg,
    rgb(82, 166, 175) 34%,
    rgb(45, 62, 145) 63%,
    rgb(54, 111, 185) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.button {
  font-size: 3rem;
  padding: 20px 100px;
  background-color: transparent;
  border-radius: 30px;
  border: solid 1px gray;
  color: rgb(75, 75, 75);
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-top: 80px;
}

.button:hover {
  color: black;
  border-color: black;
}

.features {
  margin-top: 40px;
  text-align: center;
  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.featureList {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.featureItem {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  width: 290px;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px) saturate(180%);
  color: rgb(4, 17, 48);
  text-decoration: none;

  background-color: rgba(253, 254, 255, 0.303);
  div {
    margin-top: 5px;
  }
}

.footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #f5f5f5;
  font-size: 12px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.videos {
  display: flex;
  margin-top: 100px;

  justify-content: space-between;
}

.video {
  iframe {
    width: 854px;
    height: 480px;
    border-radius: 20px;
  }
  margin: 50px;
}

.video2 {
  iframe {
    width: 640px;
    height: 360px;
    border-radius: 20px;
  }
  margin: 50px 0;
  margin-left: 50px;
}

.containervideo2 {
  margin-top: 100px;
  display: flex;
  max-width: 1040px;
}

.textVideo2 {
  margin: 50px 0;
  h2 {
    font-size: 32px;
  }
  p {
    margin-top: 30px;
  }
}
