$dark-blue: #415a80;
$light-blue: #a5d4dc;
$main-white: #e5e7e9;
$secondary-white: #d7e2e9;

.container {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ContainerTable {
  background-color: $secondary-white;
  padding: 30px;
  margin-top: 20px;
  border-radius: 30px;
}

.main {
  display: flex;
}

.table {
  // border: 1px solid #aaa;

  background-color: $main-white;
  border-radius: 20px;
  /* overflow: hidden; */
  min-width: 860px;
  padding: 20px;

  padding-top: 0;
  cursor: pointer;
}

.tableHead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  align-items: center;
  transition: none;

  padding: 20px 50px;
  margin: 10px -40px;

  background-color: $light-blue;
  border-radius: 20px;

  border: 1px solid #aaa;
  text-transform: uppercase;

  font-weight: 600;
  color: black;
}

.rowTitle {
  text-align: start;
}
.tBody {
  :not(:last-child) {
    border-bottom: 1px solid gray;
  }
}
