.main {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
}
.table {
  // border: 1px solid #aaa;

  background-color: #ccf1cc;
  border-radius: 20px;
  /* overflow: hidden; */
  min-width: 860px;
  padding: 20px;
  margin-top: 50px;
  padding-top: 0;
  cursor: pointer;
}

.tableHead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  align-items: center;
  transition: none;

  padding: 20px 50px;
  margin: 10px -40px;

  background-color: #a0e6a0;
  border-radius: 20px;

  border: 1px solid #aaa;
  text-transform: uppercase;

  font-weight: 600;
  color: black;
}

.rowTitle {
  text-align: start;
}
.tBody {
  :not(:last-child) {
    border-bottom: 1px solid gray;
  }
}
